@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


body {
    background-color: greenyellow;
    font-family: Silkscreen;
}

#title {
    font-size: 50px;
    text-align: center;
}

#rules-container {
    margin: auto;
    width: 50%;
    border: solid black 2px;
    text-align: center;
}

#rules-title {
    font-size: 40px;
}

.rules {
    font-size: 15px;
}

#user-submit-btn {
    padding: 20px 0px;
}

#next-choose-container {
    margin: auto;
    width:30%;
    text-align: center;
    padding-top: 20px;
}

.hidden {
    display: none !important;
}

.button {
    font-family: Silkscreen;
    color: white;
    background-color: blue;
    border-radius: 3px;
    cursor: pointer;
}

#game-choices-container {
    display: flex;
    justify-content: space-around;
}

.game-choice {
    border: solid black 2px;
    text-align: center;
    width: 400px;
    padding: 10px;
}

#question-container {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    
}

.answer-btns {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px;
    gap: 30px;
    margin: 40px 0px;
    cursor: pointer;
}

.answer-btn {
    width: 200px;
    border: none;
    padding: 24px 32px;
    font-size: 18px;
    background: rgb(0, 110, 255);
    color: white;
}

#shirt-image {
    width: 60%;
    height: auto;
}